**node_modules**
config/
build
chaindb
artifacts/
cache/
coverage/
.vscode/
credentials.js
.env
ipfs/
**.DS_Store**
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
.env

build/*

*.tgz